.account-country {
  padding: 0.75rem;
  border: 1px solid #272927;
  box-shadow: 0 0 10px 5px #00000015;
  font-size: 1.3rem;
  font-family: inherit;
  background: #0A0A0A;
  color: #F5F5F5;
  width: 100%;
  height: 52px;
  box-sizing: border-box;
  appearance: none;
  cursor: pointer;
  border-radius: 0px;
  text-align: left;
  direction: ltr;
  transition: color 0.2s ease;
}

.account-country.has-value {
  color: #F5F5F5;
}

.account-country option {
  background: #111;
  color: #eee;
}

/* Scrollbar styles */
.account-country {
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #444 #111; /* Firefox */
}

/* Chrome, Edge, Safari (WebKit) */
.account-country::-webkit-scrollbar {
  width: 0px; /* Hide scrollbar */
}

.account-country::-webkit-scrollbar-thumb {
  background-color: #444;
  border-radius: 3px;
  border: none;
}

.account-country::-webkit-scrollbar-track {
  background: #111;
  border: none;
  box-shadow: none;
}

@media (max-width: 827px) {
  .account-country {
    height: 60px;
  }
}
